# Dataset bruto — não versionar
arquivos_brutos/lmd_full/

# Dados processados — não versionar
dados_processados/

# Modelos — não versionar
modelos/

# Python
*.pyc
__pycache__/
.venv/
venv/
*.egg-info/
dist/
build/

# Sistema
.DS_Store
Thumbs.db
